html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/*new css starts here*/


/*global*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Cairo:500,400,700,600|Roboto:500,400");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/65b4e3bb488a4f8cbaef8fcd.65b4e3bc488a4f8cbaef8fd0.jm4JXdm.hcp.png");

.screen a {
    display: contents;
    text-decoration: none;
}

.container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
}

    .container-center-horizontal > * {
        flex-shrink: 0;
        pointer-events: auto;
    }

.valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

/*style*/
:root {
    --dove-gray: #707070;
    --ebb: #e9e5df;
    --eerie-black: #191919;
    --granite-gray: #666666;
    --gray0210: #ffffff;
    --gray0220: #f5f5f5;
    --gray0250: #c2c2c2;
    --gray0290: #424242;
    --primary-hover: #c165ff;
    --primary-main: #000000;
    --science-blue: #0966c2;
    --smalt-blue: #4f7c95;
    --voodoo: #453352;
    --font-size-l: 16px;
    --font-size-m: 14px;
    --font-size-s: 12px;
    --font-size-xl: 17px;
    --font-size-xxl: 20px;
    --font-size-xxxl: 36px;
    --font-family-cairo: "Cairo", Helvetica;
    --font-family-roboto: "Roboto", Helvetica;
}

.cario-20 {
    font-family: var(--font-family-cairo);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0;
}

.cairo-12 {
    font-family: var(--font-family-cairo);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
}

.cairo-14 {
    font-family: var(--font-family-cairo);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
}

.cairo-36-b {
    font-family: var(--font-family-cairo);
    font-size: var(--font-size-xxxl);
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0;
}

.cairo-16-b {
    font-family: var(--font-family-cairo);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0;
}

.cairo-medium-cape-cod-12px {
    color: var(--gray0290);
    font-family: var(--font-family-cairo);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 500;
}

.roboto-normal-dove-gray-12px {
    color: var(--dove-gray);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
}

.roboto-normal-granite-gray-12px {
    color: var(--granite-gray);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
}

.roboto-medium-eerie-black-14px {
    color: var(--eerie-black);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 500;
}

.roboto-normal-eerie-black-14px {
    color: var(--eerie-black);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
}

.roboto-medium-science-blue-14px {
    color: var(--science-blue);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 500;
}

/* screen - u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 */

.u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 {
    align-items: center;
    background-color: var(--gray0210);
    display: flex;
    flex-direction: column;
    height: 2315px;
    width: 1440px;
}

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .navbar {
        align-items: center;
        background: linear-gradient( 180deg, rgb(132, 105, 150) 28.34%, rgba(240.17, 246.87, 254.14, 0) 100% );
        display: inline-flex;
        flex-direction: column;
        gap: 10px;
        height: 107px;
        justify-content: space-around;
        padding: 20px 72px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .frame-8 {
        align-items: center;
        display: flex;
        height: 67px;
        justify-content: space-between;
        padding: 0px 4px;
        position: relative;
        width: 1296px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .photo_59921654693370 {
        height: 65px;
        position: relative;
        width: 59px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .frame-2 {
        align-items: center;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 43px;
        justify-content: center;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .frame-3 {
        align-items: center;
        display: inline-flex;
        flex: 0 0 auto;
        flex-direction: column;
        gap: 2px;
        justify-content: center;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .frame-1213 {
        height: 27px;
        position: relative;
        width: 27px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .frame-1175 {
        align-items: center;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 4px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .vector-26 {
        height: 4.82px;
        position: relative;
        width: 9.23px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .text-1 {
        color: var(--smalt-blue);
        direction: rtl;
        font-weight: 400;
        line-height: normal;
        margin-top: -1px;
        position: relative;
        text-align: center;
        width: fit-content;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .frame {
        align-items: center;
        display: inline-flex;
        flex: 0 0 auto;
        flex-direction: column;
        gap: 4px;
        justify-content: center;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .group-15413 {
        height: 19.53px;
        position: relative;
        width: 19.99px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .text {
        color: var(--smalt-blue);
        direction: rtl;
        font-weight: 400;
        line-height: normal;
        position: relative;
        text-align: center;
        width: fit-content;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .group {
        background-image: url(../img/rectangle-4741@2x.png);
        background-size: 100% 100%;
        height: 18.15px;
        position: relative;
        width: 22.29px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .ellipse-container {
        align-items: flex-start;
        display: flex;
        gap: 1px;
        left: 6px;
        min-width: 11px;
        position: relative;
        top: 6px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .ellipse-66 {
        background-color: var(--gray0210);
        border-radius: 1.32px;
        height: 3px;
        width: 3px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .group-15412 {
        height: 18.06px;
        position: relative;
        width: 20.01px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .group-15410 {
        height: 22.97px;
        position: relative;
        width: 29.1px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .flex-row {
        align-items: flex-start;
        display: flex;
        gap: 32px;
        height: 1576px;
        margin-right: 27px;
        margin-top: 27px;
        min-width: 1315px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .overlap-group2 {
        align-items: flex-start;
        background-color: var(--gray0210);
        border-radius: 6px;
        box-shadow: 2px 2px 15px #0000001a;
        display: flex;
        height: 325px;
        margin-left: -1px;
        margin-top: -1px;
        min-width: 251px;
        padding: 19px 15px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .frame-1179 {
        align-items: flex-start;
        display: inline-flex;
        flex-direction: column;
        gap: 12px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .text-8 {
        color: var(--smalt-blue);
        direction: rtl;
        font-weight: 700;
        line-height: 28px;
        margin-top: -1px;
        position: relative;
        width: 216px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .frame-4 {
        align-items: flex-end;
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        gap: 6px;
        position: relative;
        width: 216px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .frame-11 {
        align-items: flex-start;
        display: flex;
        flex: 0 0 auto;
        gap: 6px;
        justify-content: flex-end;
        position: relative;
        width: 216px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .frame-1 {
        height: 16px;
        position: relative;
        width: 16px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .lorem-ipsum-dolor-sit {
        white-space: nowrap;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .frame-15421 {
        align-items: flex-end;
        display: inline-flex;
        flex-direction: column;
        gap: 15px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .modal {
        align-items: flex-end;
        background-color: var(--gray0210);
        border-radius: 4px;
        box-shadow: 2px 2px 15px #0000001a;
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        padding: 24px;
        position: relative;
        width: 1033px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .frame-15417 {
        align-items: flex-end;
        display: inline-flex;
        flex: 0 0 auto;
        flex-direction: column;
        gap: 25px;
        margin-left: -1px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .frame-15416 {
        height: 179.04px;
        position: relative;
        width: 986px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .overlap-group {
        height: 179px;
        position: relative;
        width: 986px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .rectangle {
        height: 121px;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 986px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .frame-15415 {
        align-items: flex-end;
        display: inline-flex;
        gap: 10px;
        left: 820px;
        padding: 0px 63px 0px 0px;
        position: absolute;
        top: 76px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .round {
        height: 105.04px;
        margin-bottom: -1px;
        margin-left: -1px;
        margin-right: -1px;
        margin-top: -1px;
        object-fit: cover;
        position: relative;
        width: 105.04px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .frame-1229 {
        align-items: flex-start;
        display: flex;
        flex: 0 0 auto;
        gap: 563px;
        justify-content: flex-end;
        position: relative;
        width: 986px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .button {
        align-items: center;
        background-color: var(--smalt-blue);
        border-radius: 4px;
        box-shadow: 2px 2px 15px #0000001a;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 4px;
        justify-content: center;
        padding: 8px 22px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .text-9 {
        color: var(--gray0210);
        direction: rtl;
        font-family: var(--font-family-cairo);
        font-size: var(--font-size-m);
        font-weight: 500;
        letter-spacing: 0;
        line-height: 20px;
        margin-top: -1px;
        position: relative;
        text-align: center;
        white-space: nowrap;
        width: fit-content;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .frame-1227 {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 25px;
        position: relative;
        width: 235px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .frame-1161 {
        align-items: flex-end;
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        gap: 8px;
        position: relative;
        width: 226px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .modal-header {
        align-items: center;
        display: flex;
        flex: 0 0 auto;
        gap: 16px;
        justify-content: center;
        position: relative;
        width: 226px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .text-10 {
        color: var(--smalt-blue);
        direction: rtl;
        font-family: var(--font-family-cairo);
        font-size: var(--font-size-xxl);
        font-weight: 700;
        letter-spacing: 0;
        line-height: 28px;
        margin-left: -51.5px;
        margin-right: -51.5px;
        margin-top: -1px;
        position: relative;
        text-align: center;
        width: 329px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .frame-15420 {
        align-items: flex-start;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 74px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .frame-1178 {
        align-items: flex-start;
        display: inline-flex;
        flex: 0 0 auto;
        flex-direction: column;
        gap: 25px;
        height: 1273px;
        overflow: hidden;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .post-template {
        align-items: flex-end;
        background-color: var(--gray0210);
        border-radius: 10px;
        box-shadow: 2px 2px 15px #0000001a;
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        gap: 20px;
        overflow: hidden;
        padding: 15px 0px;
        position: relative;
        width: 655px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .hearder {
        align-items: flex-start;
        align-self: stretch;
        display: flex;
        flex: 0 0 auto;
        gap: 15px;
        padding: 0px 15px;
        position: relative;
        width: 100%;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .more {
        flex: 0 0 auto;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .company-info {
        align-items: flex-start;
        display: flex;
        flex: 1;
        flex-grow: 1;
        gap: 8px;
        justify-content: flex-end;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .text-block {
        align-items: flex-end;
        display: flex;
        flex: 1;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .company-name {
        align-self: stretch;
        letter-spacing: 0;
        line-height: 20px;
        margin-top: -1px;
        position: relative;
        text-align: right;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .followers {
        align-self: stretch;
        letter-spacing: 0;
        line-height: 16px;
        position: relative;
        text-align: right;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .publication-info {
        align-items: center;
        align-self: stretch;
        display: flex;
        flex: 0 0 auto;
        gap: 4px;
        justify-content: flex-end;
        position: relative;
        width: 100%;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .time-of-publication {
        letter-spacing: 0;
        line-height: 16px;
        margin-top: -1px;
        position: relative;
        text-align: right;
        white-space: nowrap;
        width: fit-content;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .separator {
        height: 3px;
        position: relative;
        width: 3px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .globe {
        height: 15px;
        position: relative;
        width: 15px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .logo-place-holder {
        height: 52px;
        object-fit: cover;
        position: relative;
        width: 52px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .body {
        align-items: flex-end;
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        padding: 0px 15px;
        position: relative;
        width: 655px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .text-2 {
        align-self: stretch;
        letter-spacing: 0;
        line-height: 20px;
        margin-top: -1px;
        position: relative;
        text-align: right;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .hashtags {
        align-self: stretch;
        letter-spacing: 0;
        line-height: 20px;
        position: relative;
        text-align: right;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .image-place-holder {
        align-self: stretch;
        height: 326px;
        object-fit: cover;
        position: relative;
        width: 100%;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .frame-26 {
        align-items: flex-start;
        align-self: stretch;
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        gap: 10px;
        padding: 0px 15px;
        position: relative;
        width: 100%;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .rectangle-18 {
        align-self: stretch;
        background-color: var(--ebb);
        height: 1px;
        position: relative;
        width: 100%;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .actions {
        align-items: flex-start;
        align-self: stretch;
        display: flex;
        flex: 0 0 auto;
        gap: 20px;
        justify-content: flex-end;
        padding: 0px 15px;
        position: relative;
        width: 100%;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .like-group {
        align-items: center;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 2px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .frame-1172 {
        align-items: center;
        display: inline-flex;
        flex: 0 0 auto;
        flex-direction: column;
        gap: 10px;
        height: 29px;
        justify-content: center;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag {
        align-items: center;
        background-color: var(--gray0220);
        border: 1px solid;
        border-color: var(--gray0250);
        border-radius: 50px;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 4px;
        justify-content: center;
        padding: 2px 8px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-1 {
        direction: rtl;
        letter-spacing: 0;
        line-height: 16px;
        margin-top: -1px;
        position: relative;
        text-align: left;
        white-space: nowrap;
        width: fit-content;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .phosphor-icons {
        height: 15.17px;
        position: relative;
        width: 15.17px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-2 {
        align-items: center;
        background-color: var(--gray0220);
        border: 1px solid;
        border-color: var(--gray0250);
        border-radius: 50px;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 4px;
        justify-content: center;
        padding: 2px 8px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-3 {
        direction: rtl;
        letter-spacing: 0;
        line-height: 16px;
        margin-top: -1px;
        position: relative;
        text-align: left;
        white-space: nowrap;
        width: fit-content;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-4 {
        align-items: center;
        background-color: var(--gray0220);
        border: 1px solid;
        border-color: var(--gray0250);
        border-radius: 50px;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 4px;
        justify-content: center;
        padding: 2px 8px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-5 {
        direction: rtl;
        letter-spacing: 0;
        line-height: 16px;
        margin-top: -1px;
        position: relative;
        text-align: left;
        white-space: nowrap;
        width: fit-content;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .phosphor-icons-heart-straight {
        height: 12px;
        position: relative;
        width: 12px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .text-3 {
        align-self: stretch;
        letter-spacing: 0;
        line-height: 20px;
        margin-top: -1px;
        position: relative;
        text-align: right;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-6 {
        align-items: center;
        background-color: var(--gray0220);
        border: 1px solid;
        border-color: var(--gray0250);
        border-radius: 50px;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 4px;
        justify-content: center;
        padding: 2px 8px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-7 {
        direction: rtl;
        letter-spacing: 0;
        line-height: 16px;
        margin-top: -1px;
        position: relative;
        text-align: left;
        white-space: nowrap;
        width: fit-content;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-8 {
        align-items: center;
        background-color: var(--gray0220);
        border: 1px solid;
        border-color: var(--gray0250);
        border-radius: 50px;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 4px;
        justify-content: center;
        padding: 2px 8px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-9 {
        direction: rtl;
        letter-spacing: 0;
        line-height: 16px;
        margin-top: -1px;
        position: relative;
        text-align: left;
        white-space: nowrap;
        width: fit-content;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-10 {
        align-items: center;
        background-color: var(--gray0220);
        border: 1px solid;
        border-color: var(--gray0250);
        border-radius: 50px;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 4px;
        justify-content: center;
        padding: 2px 8px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-11 {
        direction: rtl;
        letter-spacing: 0;
        line-height: 16px;
        margin-top: -1px;
        position: relative;
        text-align: left;
        white-space: nowrap;
        width: fit-content;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .text-4 {
        align-self: stretch;
        letter-spacing: 0;
        line-height: 20px;
        margin-top: -1px;
        position: relative;
        text-align: right;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-12 {
        align-items: center;
        background-color: var(--gray0220);
        border: 1px solid;
        border-color: var(--gray0250);
        border-radius: 50px;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 4px;
        justify-content: center;
        padding: 2px 8px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-13 {
        direction: rtl;
        letter-spacing: 0;
        line-height: 16px;
        margin-top: -1px;
        position: relative;
        text-align: left;
        white-space: nowrap;
        width: fit-content;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-14 {
        align-items: center;
        background-color: var(--gray0220);
        border: 1px solid;
        border-color: var(--gray0250);
        border-radius: 50px;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 4px;
        justify-content: center;
        padding: 2px 8px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-15 {
        direction: rtl;
        letter-spacing: 0;
        line-height: 16px;
        margin-top: -1px;
        position: relative;
        text-align: left;
        white-space: nowrap;
        width: fit-content;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-16 {
        align-items: center;
        background-color: var(--gray0220);
        border: 1px solid;
        border-color: var(--gray0250);
        border-radius: 50px;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 4px;
        justify-content: center;
        padding: 2px 8px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-17 {
        direction: rtl;
        letter-spacing: 0;
        line-height: 16px;
        margin-top: -1px;
        position: relative;
        text-align: left;
        white-space: nowrap;
        width: fit-content;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .text-5 {
        align-self: stretch;
        letter-spacing: 0;
        line-height: 20px;
        margin-top: -1px;
        position: relative;
        text-align: right;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-18 {
        align-items: center;
        background-color: var(--gray0220);
        border: 1px solid;
        border-color: var(--gray0250);
        border-radius: 50px;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 4px;
        justify-content: center;
        padding: 2px 8px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-19 {
        direction: rtl;
        letter-spacing: 0;
        line-height: 16px;
        margin-top: -1px;
        position: relative;
        text-align: left;
        white-space: nowrap;
        width: fit-content;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .phosphor-icons-arrow-bend-up-right {
        height: 15.17px;
        margin-left: -6058.66px;
        margin-top: -4962.12px;
        position: relative;
        width: 15.17px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-20 {
        align-items: center;
        background-color: var(--gray0220);
        border: 1px solid;
        border-color: var(--gray0250);
        border-radius: 50px;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 4px;
        justify-content: center;
        padding: 2px 8px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-21 {
        direction: rtl;
        letter-spacing: 0;
        line-height: 16px;
        margin-top: -1px;
        position: relative;
        text-align: left;
        white-space: nowrap;
        width: fit-content;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .phosphor-icons-chat-circle-dots {
        height: 15.17px;
        margin-left: -6163.83px;
        margin-top: -4962.12px;
        position: relative;
        width: 15.17px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-22 {
        align-items: center;
        background-color: var(--gray0220);
        border: 1px solid;
        border-color: var(--gray0250);
        border-radius: 50px;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 4px;
        justify-content: center;
        padding: 2px 8px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-23 {
        direction: rtl;
        letter-spacing: 0;
        line-height: 16px;
        margin-top: -1px;
        position: relative;
        text-align: left;
        white-space: nowrap;
        width: fit-content;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .phosphor-icons-heart-straight-1 {
        margin-top: -4960.54px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .more-1 {
        margin-top: -5042.04px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .separator-1 {
        margin-top: -5071.54px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .globe-1 {
        margin-top: -5077.54px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .text-6 {
        align-self: stretch;
        letter-spacing: 0;
        line-height: 20px;
        margin-top: -1px;
        position: relative;
        text-align: right;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-24 {
        align-items: center;
        background-color: var(--gray0220);
        border: 1px solid;
        border-color: var(--gray0250);
        border-radius: 50px;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 4px;
        justify-content: center;
        padding: 2px 8px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-25 {
        direction: rtl;
        letter-spacing: 0;
        line-height: 16px;
        margin-top: -1px;
        position: relative;
        text-align: left;
        white-space: nowrap;
        width: fit-content;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .phosphor-icons-arrow-bend-up-right-1 {
        margin-top: -5239.12px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-26 {
        align-items: center;
        background-color: var(--gray0220);
        border: 1px solid;
        border-color: var(--gray0250);
        border-radius: 50px;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 4px;
        justify-content: center;
        padding: 2px 8px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-27 {
        direction: rtl;
        letter-spacing: 0;
        line-height: 16px;
        margin-top: -1px;
        position: relative;
        text-align: left;
        white-space: nowrap;
        width: fit-content;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .phosphor-icons-chat-circle-dots-1 {
        margin-top: -5239.12px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-28 {
        align-items: center;
        background-color: var(--gray0220);
        border: 1px solid;
        border-color: var(--gray0250);
        border-radius: 50px;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 4px;
        justify-content: center;
        padding: 2px 8px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-29 {
        direction: rtl;
        letter-spacing: 0;
        line-height: 16px;
        margin-top: -1px;
        position: relative;
        text-align: left;
        white-space: nowrap;
        width: fit-content;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .phosphor-icons-heart-straight-2 {
        margin-top: -5237.54px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .more-2 {
        margin-top: -5319.04px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .separator-2 {
        margin-top: -5348.54px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .globe-2 {
        margin-top: -5354.54px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .text-7 {
        align-self: stretch;
        letter-spacing: 0;
        line-height: 20px;
        margin-top: -1px;
        position: relative;
        text-align: right;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-30 {
        align-items: center;
        background-color: var(--gray0220);
        border: 1px solid;
        border-color: var(--gray0250);
        border-radius: 50px;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 4px;
        justify-content: center;
        padding: 2px 8px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-31 {
        direction: rtl;
        letter-spacing: 0;
        line-height: 16px;
        margin-top: -1px;
        position: relative;
        text-align: left;
        white-space: nowrap;
        width: fit-content;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .phosphor-icons-arrow-bend-up-right-2 {
        margin-top: -5862.12px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-32 {
        align-items: center;
        background-color: var(--gray0220);
        border: 1px solid;
        border-color: var(--gray0250);
        border-radius: 50px;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 4px;
        justify-content: center;
        padding: 2px 8px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-33 {
        direction: rtl;
        letter-spacing: 0;
        line-height: 16px;
        margin-top: -1px;
        position: relative;
        text-align: left;
        white-space: nowrap;
        width: fit-content;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .phosphor-icons-chat-circle-dots-2 {
        margin-top: -5862.12px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-34 {
        align-items: center;
        background-color: var(--gray0220);
        border: 1px solid;
        border-color: var(--gray0250);
        border-radius: 50px;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 4px;
        justify-content: center;
        padding: 2px 8px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-35 {
        direction: rtl;
        letter-spacing: 0;
        line-height: 16px;
        margin-top: -1px;
        position: relative;
        text-align: left;
        white-space: nowrap;
        width: fit-content;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .phosphor-icons-heart-straight-3 {
        margin-top: -5860.54px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .more-3 {
        margin-top: -5942.04px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .separator-3 {
        margin-top: -5971.54px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .globe-3 {
        margin-top: -5977.54px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .text-11 {
        align-self: stretch;
        letter-spacing: 0;
        line-height: 20px;
        margin-top: -1px;
        position: relative;
        text-align: right;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-36 {
        align-items: center;
        background-color: var(--gray0220);
        border: 1px solid;
        border-color: var(--gray0250);
        border-radius: 50px;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 4px;
        justify-content: center;
        padding: 2px 8px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-37 {
        direction: rtl;
        letter-spacing: 0;
        line-height: 16px;
        margin-top: -1px;
        position: relative;
        text-align: left;
        white-space: nowrap;
        width: fit-content;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .phosphor-icons-arrow-bend-up-right-3 {
        margin-top: -6139.12px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-38 {
        align-items: center;
        background-color: var(--gray0220);
        border: 1px solid;
        border-color: var(--gray0250);
        border-radius: 50px;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 4px;
        justify-content: center;
        padding: 2px 8px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-39 {
        direction: rtl;
        letter-spacing: 0;
        line-height: 16px;
        margin-top: -1px;
        position: relative;
        text-align: left;
        white-space: nowrap;
        width: fit-content;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .phosphor-icons-chat-circle-dots-3 {
        margin-top: -6139.12px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-40 {
        align-items: center;
        background-color: var(--gray0220);
        border: 1px solid;
        border-color: var(--gray0250);
        border-radius: 50px;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 4px;
        justify-content: center;
        padding: 2px 8px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-41 {
        direction: rtl;
        letter-spacing: 0;
        line-height: 16px;
        margin-top: -1px;
        position: relative;
        text-align: left;
        white-space: nowrap;
        width: fit-content;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .phosphor-icons-heart-straight-4 {
        margin-top: -6137.54px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .more-4 {
        margin-top: -6219.04px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .separator-4 {
        margin-top: -6248.54px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .globe-4 {
        margin-top: -6254.54px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .text-12 {
        align-self: stretch;
        letter-spacing: 0;
        line-height: 20px;
        margin-top: -1px;
        position: relative;
        text-align: right;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-42 {
        align-items: center;
        background-color: var(--gray0220);
        border: 1px solid;
        border-color: var(--gray0250);
        border-radius: 50px;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 4px;
        justify-content: center;
        padding: 2px 8px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-43 {
        direction: rtl;
        letter-spacing: 0;
        line-height: 16px;
        margin-top: -1px;
        position: relative;
        text-align: left;
        white-space: nowrap;
        width: fit-content;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .phosphor-icons-arrow-bend-up-right-4 {
        margin-top: -6416.12px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-44 {
        align-items: center;
        background-color: var(--gray0220);
        border: 1px solid;
        border-color: var(--gray0250);
        border-radius: 50px;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 4px;
        justify-content: center;
        padding: 2px 8px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-45 {
        direction: rtl;
        letter-spacing: 0;
        line-height: 16px;
        margin-top: -1px;
        position: relative;
        text-align: left;
        white-space: nowrap;
        width: fit-content;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .phosphor-icons-chat-circle-dots-4 {
        margin-top: -6416.12px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-46 {
        align-items: center;
        background-color: var(--gray0220);
        border: 1px solid;
        border-color: var(--gray0250);
        border-radius: 50px;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 4px;
        justify-content: center;
        padding: 2px 8px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .tag-47 {
        direction: rtl;
        letter-spacing: 0;
        line-height: 16px;
        margin-top: -1px;
        position: relative;
        text-align: left;
        white-space: nowrap;
        width: fit-content;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .phosphor-icons-heart-straight-5 {
        margin-top: -6414.54px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .frame-1192 {
        align-items: flex-end;
        background-color: var(--gray0210);
        border-radius: 4px;
        box-shadow: 2px 2px 15px #0000001a;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        padding: 13px 12px 16px 34px;
        position: relative;
        width: 267px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .frame-12 {
        align-items: flex-end;
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        margin-left: -15px;
        padding: 5px 19px 5px 0px;
        position: relative;
        width: 236px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .frame-1190 {
        align-items: center;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 10px;
        justify-content: center;
        padding: 0px 0px 0px 5px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .text-11-1 {
        color: var(--dove-gray);
        direction: rtl;
        font-family: var(--font-family-cairo);
        font-size: var(--font-size-m);
        font-weight: 600;
        letter-spacing: 0;
        line-height: 28px;
        margin-top: -0.5px;
        position: relative;
        white-space: nowrap;
        width: fit-content;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .frame-1220 {
        align-items: flex-end;
        border-color: var(--primary-hover);
        border-right-style: solid;
        border-right-width: 3px;
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        margin-left: -15px;
        padding: 5px 19px 5px 0px;
        position: relative;
        width: 236px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .text-12-1 {
        color: #846996;
        direction: rtl;
        font-family: var(--font-family-cairo);
        font-size: var(--font-size-m);
        font-weight: 600;
        letter-spacing: 0;
        line-height: 28px;
        margin-top: -0.5px;
        position: relative;
        white-space: nowrap;
        width: fit-content;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .frame-1190-1 {
        align-items: center;
        display: flex;
        flex: 0 0 auto;
        gap: 10px;
        justify-content: center;
        padding: 0px 0px 0px 5px;
        position: relative;
        width: 183px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .text-13 {
        color: var(--dove-gray);
        direction: rtl;
        font-family: var(--font-family-cairo);
        font-size: var(--font-size-m);
        font-weight: 600;
        letter-spacing: 0;
        line-height: 28px;
        margin-top: -0.5px;
        position: relative;
        width: 175px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .footer {
        align-items: center;
        background: linear-gradient( 180deg, rgb(132, 105, 150) 30.93%, rgba(240.17, 246.87, 254.14, 0) 100% );
        background-color: transparent;
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 1;
        gap: 10px;
        height: 604px;
        justify-content: center;
        margin-top: 1px;
        padding: 80px 120px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .frame-1157 {
        align-items: center;
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        gap: 47px;
        justify-content: center;
        position: relative;
        width: 1200px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .frame-1156 {
        align-items: flex-start;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 179px;
        justify-content: flex-end;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .frame-1155 {
        align-items: flex-start;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 138px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .frame-114 {
        align-items: flex-end;
        display: inline-flex;
        flex: 0 0 auto;
        flex-direction: column;
        gap: 15px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .information {
        color: var(--smalt-blue);
        direction: rtl;
        font-weight: 700;
        line-height: 24px;
        margin-left: -1px;
        margin-top: -2px;
        position: relative;
        white-space: nowrap;
        width: fit-content;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .frame-114-1 {
        align-items: flex-end;
        display: inline-flex;
        flex: 0 0 auto;
        flex-direction: column;
        gap: 13px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .faq {
        color: var(--voodoo);
        direction: rtl;
        font-weight: 400;
        line-height: 20px;
        margin-left: -1px;
        margin-top: -2px;
        opacity: 0.7;
        position: relative;
        white-space: nowrap;
        width: fit-content;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .frame-114-1-item {
        color: var(--voodoo);
        direction: rtl;
        font-weight: 400;
        line-height: 20px;
        opacity: 0.7;
        position: relative;
        white-space: nowrap;
        width: fit-content;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .company {
        color: var(--smalt-blue);
        direction: rtl;
        font-weight: 700;
        line-height: 24px;
        margin-left: -1px;
        margin-top: -2px;
        position: relative;
        width: 190px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .frame-1144 {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: 12px;
        height: 115px;
        position: relative;
        width: 159px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .careers {
        align-self: stretch;
        color: var(--voodoo);
        direction: rtl;
        font-weight: 400;
        line-height: 20px;
        margin-left: -1px;
        margin-top: -2px;
        opacity: 0.7;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .t-us {
        align-self: stretch;
        color: var(--voodoo);
        direction: rtl;
        font-weight: 400;
        line-height: 20px;
        margin-left: -1px;
        opacity: 0.7;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .product {
        color: var(--smalt-blue);
        direction: rtl;
        font-weight: 700;
        line-height: 24px;
        margin-top: -2px;
        position: relative;
        text-align: left;
        white-space: nowrap;
        width: fit-content;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .employee-database {
        color: var(--voodoo);
        direction: rtl;
        font-weight: 400;
        line-height: 20px;
        margin-top: -2px;
        opacity: 0.7;
        position: relative;
        text-align: left;
        white-space: nowrap;
        width: fit-content;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .payroll {
        color: var(--voodoo);
        direction: rtl;
        font-weight: 400;
        line-height: 20px;
        margin-left: -1px;
        opacity: 0.7;
        position: relative;
        text-align: left;
        white-space: nowrap;
        width: fit-content;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .frame-114-1-item-1 {
        color: var(--voodoo);
        direction: rtl;
        font-weight: 400;
        line-height: 20px;
        opacity: 0.7;
        position: relative;
        text-align: left;
        white-space: nowrap;
        width: fit-content;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .frame-1158 {
        align-items: flex-end;
        display: inline-flex;
        flex: 0 0 auto;
        flex-direction: column;
        gap: 26px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .text-6-1 {
        color: var(--smalt-blue);
        direction: rtl;
        font-weight: 700;
        line-height: 44px;
        margin-top: -1px;
        position: relative;
        width: 256px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .text-7-1 {
        color: var(--voodoo);
        direction: rtl;
        font-weight: 500;
        line-height: 28px;
        position: relative;
        text-align: justify;
        width: 355px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .divider {
        align-self: stretch;
        background-color: var(--smalt-blue);
        border: 1px solid;
        height: 4px;
        margin-left: -1.5px;
        margin-right: -1.5px;
        opacity: 0.06;
        position: relative;
        width: 100%;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .frame-1152 {
        align-items: center;
        align-self: stretch;
        display: flex;
        flex: 0 0 auto;
        justify-content: space-between;
        position: relative;
        width: 100%;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .frame-1151 {
        align-items: flex-start;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 15px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .group-35 {
        height: 35px;
        position: relative;
        width: 35px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .overlap-group-1 {
        left: -1px;
        position: relative;
        top: -1px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .icon-lucide-icon {
        height: 20px;
        width: 20px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .group-3591 {
        display: flex;
        height: 35px;
        position: relative;
        width: 35px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .group-3590 {
        align-items: flex-start;
        display: flex;
        flex: 1;
        justify-content: center;
        min-width: 35px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .overlap-group-2 {
        margin-top: -0.75px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .overlap-group1 {
        align-items: flex-end;
        background-image: url(../img/oval-10-copy-3@2x.png);
        background-size: 100% 100%;
        display: flex;
        height: 36px;
        justify-content: flex-end;
        left: -1px;
        min-width: 36px;
        padding: 7.8px;
        position: relative;
        top: -1px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .frame-1150 {
        align-items: flex-start;
        display: inline-flex;
        flex: 0 0 auto;
        gap: 36px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .pricing {
        color: var(--voodoo);
        direction: rtl;
        font-family: var(--font-family-cairo);
        font-size: var(--font-size-xl);
        font-weight: 600;
        letter-spacing: 0;
        line-height: 20px;
        margin-left: -1px;
        margin-top: -2px;
        position: relative;
        text-align: left;
        white-space: nowrap;
        width: fit-content;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .photo_59921654693370-1 {
        height: 90px;
        position: relative;
        width: 81.37px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .company-name-8 {
        align-self: stretch;
        letter-spacing: 0;
        line-height: 20px;
        margin-top: -1px;
        position: relative;
        text-align: right;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .globe-5 {
        height: 15px;
        margin-left: -5267px;
        position: relative;
        width: 15px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .lorem-ipsum-dolor {
        letter-spacing: 0;
        line-height: 18px;
        margin-top: -1px;
        position: relative;
        width: fit-content;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577 .more-5 {
        flex: 0 0 auto;
        margin-left: -5706px;
        position: relative;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .overlap-group-3 {
        align-items: flex-start;
        background-image: url(../img/oval-10-copy-3@2x.png);
        background-size: 100% 100%;
        display: flex;
        height: 36px;
        justify-content: flex-end;
        min-width: 36px;
        padding: 7.8px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .phosphor-icons-arrow-bend-up-right-5 {
        height: 15.17px;
        margin-left: -6058.66px;
        position: relative;
        width: 15.17px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .phosphor-icons-chat-circle-dots-5 {
        height: 15.17px;
        margin-left: -6163.83px;
        position: relative;
        width: 15.17px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .phosphor-icons-heart-straight-6 {
        height: 12px;
        margin-left: -6248px;
        position: relative;
        width: 12px;
    }

    .u1605u1606u1588u1608u1585u1575u1578-u1575u1604u1588u1585u1603u1577
    .separator-5 {
        height: 3px;
        margin-left: -5274px;
        position: relative;
        width: 3px;
    }
